a {
    margin-right: 5px;
    text-decoration: none;
    color: rgb(0, 72, 255);
}

.active {
    color: red;
}

nav > button {
    border-radius: 8px;
    padding: 0 5px;
    width: 40px;
    background-color: rgb(141, 141, 252);
    color: white;
    position: absolute;
    right: 10px;
}