.buttons-tabs button {
   background-color: transparent;
   border: none;
}

.active-tabs {
    position: relative;
    color: blue;
}

.active-tabs::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 5px;
    width: 40px;
    height: 2px;
    background-color: blue;
}

.content-show{
    display: block;
    margin-top: 15px;
}

.content-hiden{
    display: none;
}