.img-customTabs{
    width: 100px;
    float: left;
    padding: 10px;
}

.btn-custom-tabs{
    background-color: inherit;
    border: none;
    margin-right: 30px;
    font-family: 'Segoe UI',sans-serif;
}

.btn-custom-tabs:hover{
    color: #1677ff;
}

.btn-color{
    color: #1677ff;
    text-shadow: 0 0 0.25px;
}

.box-line{
  width: 100%;
  height: 1px;
  background-color:  rgb(232, 232, 232);
  margin-top: 15px;
}

.line{
   width: 65px;
   height: 1.8px;
   background-color: #1677ff;
   transition: all 0.3s ease;
}

.text-custom-tabs{
    font-family: 'Segoe UI',sans-serif;
    font-weight: 400;
    font-size: 14px;
}