h2 {
    color: tomato;
}

h4 {
    color: brown;
    text-align: center;
}

.container {
    background-color: antiquewhite;
    padding: 20px;
}

.container img {
    width: 100px;
    box-shadow: 2px 2px 5px 0 black;
}

ul {
    list-style: none;
}

span {
    color: tomato;
    margin-right: 10px;
}

.home-link {
    position: absolute;
    right: 10px;
    top: 20px;
    border: 1px solid gray;
    background-color: rgb(212, 211, 211);
    box-shadow: 1px 1px 5px 0 black;
    border-radius: 6px;
    padding: 0 5px;
}

.home-link:hover {
    background-color: rgb(185, 185, 185);
    box-shadow: 1px 1px 3px 0 black;

}