.container-form {
    display: flex;
    justify-content: center;
}

form {
    position: relative;
    background-color: rgba(130, 130, 244, 0.408);
    border: 1px solid rgb(120, 120, 254);
    box-shadow: 1px 1px 18px 0 rgb(72, 72, 175);
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
}

#name,
#last-name,
#city {
    height: 25px;
    width: 200px;
    border-radius: 15px;
    border: 2px solid rgb(72, 72, 175);
    padding-left: 5px;
    padding-right: 5px;
}

.input-firs-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: blue;
}

.input-last-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: blue;
}

.input-city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: blue;
}

.block-error {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
    color: red;
}

.button-not-active {
    position: absolute;
    right: 30px;
    background-color: rgb(190, 190, 190);
    color: white;
    width: 60px;
    border-radius: 10px;
}

.button-active {
    position: absolute;
    right: 30px;
    background-color: rgb(94, 94, 255);
    box-shadow: 2px 2px 5px 1px rgb(72, 72, 175);
    color: white;
    width: 60px;
    border-radius: 10px;
}

.button-active:hover {
    box-shadow: 1px 1px 3px 0 rgb(75, 74, 74);
    color: red;
    ;
}
.img-name {
    background-image: url('https://cdn.icon-icons.com/icons2/4076/PNG/512/account_username_people_avatar_profile_person_user_icon_258905.png');
    background-size: contain;
    width: 40px;
    height: 40px;
}
.img-last-name {
    background-image: url('https://cdn.icon-icons.com/icons2/1780/PNG/128/dad-avatar_114341.png');
    background-size: contain;
    width: 40px;
    height: 40px;
}
.img-city {
    background-image: url('https://cdn.icon-icons.com/icons2/1310/PNG/512/city_86340.png');
    background-size: contain;
    width: 40px;
    height: 40px;
}