.table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
th{
    background-color: rgb(198, 167, 227);
}
td{
    background-color:blanchedalmond;
}
